In [1]:
import pandas as pd

In [2]:
test = pd.read_csv("data/test_set_VU_DM.csv")
train = pd.read_csv("data/training_set_VU_DM.csv")

### Quick data exploration

In [3]:
train.head(n=5)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [4]:
test.head(n=5)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
0,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,3180,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,5543,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,14142,2,3.5,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,22393,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,24194,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
train.dtypes

srch_id                          int64
date_time                       object
site_id                          int64
visitor_location_country_id      int64
visitor_hist_starrating        float64
visitor_hist_adr_usd           float64
prop_country_id                  int64
prop_id                          int64
prop_starrating                  int64
prop_review_score              float64
prop_brand_bool                  int64
prop_location_score1           float64
prop_location_score2           float64
prop_log_historical_price      float64
position                         int64
price_usd                      float64
promotion_flag                   int64
srch_destination_id              int64
srch_length_of_stay              int64
srch_booking_window              int64
srch_adults_count                int64
srch_children_count              int64
srch_room_count                  int64
srch_saturday_night_bool         int64
srch_query_affinity_score      float64
orig_destination_distance      float64
random_bool                      int64
comp1_rate                     float64
comp1_inv                      float64
comp1_rate_percent_diff        float64
comp2_rate                     float64
comp2_inv                      float64
comp2_rate_percent_diff        float64
comp3_rate                     float64
comp3_inv                      float64
comp3_rate_percent_diff        float64
comp4_rate                     float64
comp4_inv                      float64
comp4_rate_percent_diff        float64
comp5_rate                     float64
comp5_inv                      float64
comp5_rate_percent_diff        float64
comp6_rate                     float64
comp6_inv                      float64
comp6_rate_percent_diff        float64
comp7_rate                     float64
comp7_inv                      float64
comp7_rate_percent_diff        float64
comp8_rate                     float64
comp8_inv                      float64
comp8_rate_percent_diff        float64
click_bool                       int64
gross_bookings_usd             float64
booking_bool                     int64
dtype: object

In [19]:
print(f'Training set has {len(train)} data points')
print(f'Test set has {len(test)} data points\n')

print(f'Training set has {len(train.srch_id.unique())} searches')
print(f'Test set has {len(test.srch_id.unique())} searches\n')

amt_train_random = len(train.srch_id.where(train["random_bool"]==1).unique())
amt_train_ordered = len(train.srch_id.where(train["random_bool"]==0).unique())
amt_test_random = len(test.srch_id.where(test["random_bool"]==1).unique())
amt_test_ordered = len(test.srch_id.where(test["random_bool"]==0).unique())
print(f'Training set has {amt_train_random} random searches ({(amt_train_random/len(train))}%) and {amt_train_ordered} ordered searches({(amt_train_ordered/len(train))}%)')
print(f'Test set has {amt_test_random} random searches ({(amt_test_random/len(test))}%) and {amt_test_ordered} ordered searches({(amt_test_ordered/len(test))}%)')

Training set has 4958347 data points
Test set has 4959183 data points

Training set has 199795 searches
Test set has 199549 searches

Training set has 60752 random searches (0.012252470430165537%) and 139045 ordered searches(0.028042611781708703%)
Test set has 60796 random searches (0.012259277385004748%) and 138755 ordered searches(0.027979407091853637%)

In [ ]:
## missing values

## outliers

## relatie positie & booking

## relatie positie & clicks